+++
title = "青史录"
linkTitle = "青史录"

+++

{{< blocks/cover title="让历史铭记一切" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/historcn" >}}">
		去翻阅 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/historcn/historcn">
		去更新 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
青史，一个历史性人物和事件的镌刻之地。

不如百科全面，亦无百科冗长；

寥寥数百字，青史留世间。

知来日方长，愿事事皆好。

本站由李文亮医生去世引发思考，进而动手搭建。
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Github" url="https://github.com/historcn/historcn" %}}
初创期暂时只接受本人认可的 PR。
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-weibo" title="微博" url="https://weibo.com" %}}
暂无
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-wechat" title="微信" url="https://mp.weixin.qq.com" %}}
暂无
{{% /blocks/feature %}}

{{< /blocks/section >}}


<!-- {{< blocks/section >}} -->

<!-- {{< /blocks/section >}} -->
